zombie.sym
zombie.o
wc.d
stressfs.sym
stressfs.o
stressfs.d
init.d
init.asm
grep.sym
grep.o
grep.d
grep.asm
fs.img
echo.o
echo.d
echo.asm
console.o
console.d
cat.sym
cat.o
cat.d
cat.asm
bootmain.o
bootblock.o
bootblock.asm
bootblock
bootasm.o
bootasm.d
bio.o
bio.d
_zombie
_wc
_usertests
_stressfs
_sh
_rm
_mkdir
_ls
_ln
_kill
_init
_grep
_forktest
_echo
_cat
rm.asm
printf.o
printf.d
mkfs
mkdir.sym
mkdir.o
mkdir.d
kill.d
kill.asm
init.sym
init.o
forktest.d
forktest.asm
bootmain.d
stressfs.asm
sh.sym
sh.o
sh.d
sh.asm
rm.sym
rm.o
rm.d
ls.asm
ln.sym
kill.sym
kill.o
echo.sym
wc.asm
usys.o
usertests.sym
usertests.o
usertests.d
usertests.asm
umalloc.o
umalloc.d
mkdir.asm
ls.sym
ls.o
ls.d
ln.o
ln.d
forktest.o
zombie.d
zombie.asm
wc.sym
wc.o
ulib.o
ulib.d
ln.asm
bootblockother.o
entry.o
entryother
entryother.asm
entryother.d
entryother.o
exec.d
exec.o
file.d
file.o
fs.d
fs.o
ide.d
ide.o
initcode
initcode.asm
initcode.d
initcode.o
initcode.out
ioapic.d
ioapic.o
kalloc.d
kalloc.o
kbd.d
kbd.o
kernel
kernel.asm
kernel.sym
lapic.d
lapic.o
log.d
log.o
main.d
main.o
mp.d
mp.o
picirq.d
picirq.o
pipe.d
pipe.o
proc.d
proc.o
sleeplock.d
sleeplock.o
spinlock.d
spinlock.o
string.d
string.o
swtch.o
syscall.d
syscall.o
sysfile.d
sysfile.o
sysproc.d
sysproc.o
trap.d
trap.o
trapasm.o
uart.d
uart.o
vectors.S
vectors.o
vm.d
vm.o
xv6.img
